$font1:PTSans_Bold, sans-serif;
$font2:PTSans_Regular, sans-serif;

@font-face {
  font-family: PTSans_Bold;
  src: url("../fonts/PT_Sans/PT_Sans-Web-Bold.ttf");
}

@font-face {
  font-family: PTSans_Regular;
  src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}

body{
  font-family: $font1;
}
.cover-image{
  background-color: #fcdb00;
  padding-left: 100px;
  font-family: $font1;
}

.margin1{
 margin-top: 52px;
}

.margin2{
  margin-top: 60px;
}

.image{
  display: inline-block;
  overflow: hidden;
  border-radius: 100%;
}

.tiny{
  /*position: relative;
  top: 0;
  left: 0;*/
  /*font-family: $font1;*/
  font-size: 30px;
  /*vertical-align: middle;
  margin-left: 28px;*/
}

/*.border{
  border:1px solid black;
}*/

/*.cover-left{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}*/

.yellow a{
  display: inline-block;
  color:#000000;
  font-size: 22px;
}

.header_nav{
  padding: 0;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  li {
    display: inline-block;
    margin-right: 70px;
    @media screen and (max-width: 768px) {
      margin-right: 14%;
    }
  }
  li:last-child{
    margin-right: 0;
  }
}

.inspire{
  margin-top: 75px;
  padding: 0 70px 0 22px !important;
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin-top: 0;
    padding-right: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
  h2, h4, p{
    /*padding: 0 70px 0 7px;*/
  }
  h4,p{
    font-family: $font2;
  }
  h2{
    margin: 0 0 27px 0;
  }
  h4{
    font-size: 20px;
    margin: 0 0 27px 0;
  }
  p{
    font-size: 16px;
    color: #555555;
    margin-bottom: 42px;
  }
}

.phone{
  display: inline-block;
  overflow: hidden;
  border-radius: 17px;
}


.round1{
  display: inline-block;
  width:15px;
  height:15px;
  border-radius: 100%;
  background: #ffffff;
  margin-right: 8px;
}

.icons{
  font-size: 40px;
  padding-left: 7px;
  i{
    margin-right: 38px;
  }
}

.round2, .round3{
  @extend .round1;
  background: rgba(255,255,255,0.3);
}

.size{
  font-size: 45px;
}

.footer{
  background: #000000;
}

/*.keep_in_touch{
  h2{
    color: #fcdb00;
    text-align: center;
  }
}*/

/*li a{
  /*list-style: none;
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #fcdb00;
  border-radius: 5px;
  :before{
    content: "";
  }
}*/

.social li{
  display: inline-block;
  list-style: none;
  margin-right: 32px;
  font-size: 26px;
  text-align: center;
  a{
    /*list-style: none;*/
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #fcdb00;
    border-radius: 5px;
    color: black;
    /*:before{
      content: "";
    }*/
  }
}

li:last-child{
  margin-right: 0;
}

.contacts{
  color: white;
  margin-top: 135px;
}

.rounds{
  margin-top: 45px;
  margin-bottom: 50px;
}

.img-responsive{
  max-width: 100%;
  height:auto;
  display: block;
}

.tinyone_features_header{
  margin-top: 120px;
  h2{
    margin: 0;
  }
  h4{
    margin:25px 0 90px;
    line-height: 25px;
  }
}

.fully_responsive{
  margin-bottom: 78px;
  h3{
    margin-top: 12px;
    margin-bottom: 20px;
  }
  p{
    color:#555555;
  }
}

.margin3{
  margin-bottom: 90px;
}

.email{
  margin:44px 0 80px;
  padding-left: 32px !important;
  padding-right: 28px !important;
  height: 50px !important;
}

.keep_in_touch{
  h2{
    margin: 100px 0 25px;
    color: #fcdb00;
    text-align: center;
  }
  h4{
    margin: 0;
    font-size: 20px;
    color: #555b5C;
  }
}

input[type="submit"]
{
  margin-top: 44px;
  height: 50px;
  background: #fcdb00;
  width: 100%;
  font-family: $font1;
  color: black;
  border:0;
}